<HTML>
    <HEAD>
        <!-- sementic ui -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>	

        <TITLE>CreateContentPopup</TITLE>
    </HEAD>
    <BODY>
        <div style='width : 600px; height : 600px; font-size: 2rem; overflow-y : scroll;'>

            <strong>Idx : </strong>
            <label id="popup_idx"><%= row.content_idx %></label>
            <br>

            <strong>Title : </strong>
            <label id="popup_title"><%= row.title %></label>
            <br>

            <strong>User : </strong>
            <label id="popup_id"><%= row.user_id %></label>
            <br><br>

            <strong>Content</strong>
            <br>
            <div id="popup_content" style="width : 100%;"><%= row.content %></div>
            <div id="popup_image" style="width : 100%;"></div> 
            <div id="popup_download" style="width : 100%;"></div>         
            <br>
            
            <strong>Updated time</strong>
            <br>
            <label id="popup_datetime"><%= row.datetime %></label>
            <br><br>
            
            <input type="hidden" id="edit_button" value="Edit" style="width : 30%;" onclick="onPopupEditClick()" class="ui primary button">
            <input type="hidden" id="delete_button" value="Delete" style="width : 30%;" onclick="onPopupDeleteClick()" class="ui secondary button">
            <input type="button" id="close_button" value="Close" style="width : 30%;" onclick="onPopupCloseClick()" class="ui secondary button">
            <br><br>
        
            <strong>Comments</strong>
            <br>
            <div class="ui action input" style='width : 100%;'>
                <textarea id="popup_comment_input" placeholder="Input Comment" style="width : 70%;"></textarea>
                <input type="button" id="write_button" value="Write" style="width : 30%;" onclick="onPopupWriteClick(this)" class="ui primary button">
            </div>
            <br>

            <div id='popup_comment' style='width : 100%;'></div>
        </div>
    </BODY>
</HTML>